@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
    background-color: bisque;
    background-image: url(signup_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.mySlides {
    background-color: brown;
    padding: 15%;
    margin: 5px;
    overflow: hidden;
    display: block;
    height: 80%;
    width: 100%;
    /* overflow-x: scroll; */
}

.mySlides h1 {
    font-weight: bolder;
}

.mySlides p {
    font-weight: bold;
}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}

.w3-badge {
    height:13px;width:13px;padding:0
}