.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;

}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;  
    flex: none;
}

.gallery div img {
    width: 100%;
    flex: none;
}